	/*轮播图样式*/
	section .banner{
		width: 100%;
	}
	section .banner .carousel-indicators li{
		border: 1px solid #FF7F00 !important;
	}
	section .banner .carousel-indicators .active{
		border: none;
		background-color: #FF7F00;
	}
	section .banner #carousel-example-generic .carousel-control{
		display: none;
	}
	section .banner #carousel-example-generic:hover .carousel-control{
		display: block;
	}
	section>.container-fluid{
		background-color: #f2f2f2;
		overflow: hidden;
	}
		
/* 手机屏的样式 */
@media (max-width: 561px) {
	/* 中间样式 */
	section .banner #carousel-example-generic{
		min-height: 130px;
	}
	section .banner #carousel-example-generic .item {
		width: 100%;
		height: 130px;
	}
	section .banner #carousel-example-generic .item>img{
		display: none;
	}
		
}